<section class="py-5 text-center container">

  <div class="card">
    <div class="card-header">
      <h2>Organisations</h2>
    </div>
    <div class="card-body">
      <% @organisations.each do |o| %>
      <%= o.name %>
      <% end %>
    </div>
  </div>
</section>
