<table class="table table-hover data-table">
  <thead>
    <tr>
      <th>Client</th>
      <th>W x H (mm)</th>
      <th>Position</th>
      <th>Platform</th>
      <th>Publication date</th>
      <th>Status</th>
      <th>Price</th>
      <% if can? :manage, User %>
        <th>Sales Rep</th>
      <% end %>
      <th>Created</th>
      <th>Updated</th>
    </tr>
  </thead>
  <tbody id="ad-table">
    <%= render partial: "shared/ad_table", collection: ads, as: :ad %>
  </tbody>
</table>
